
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadComponentPartial")

<body>
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    @await Component.InvokeAsync("_NavbarComponentPartial")
    @await Component.InvokeAsync("_CarouselComponentPartial")
    @await Component.InvokeAsync("_AboutComponentPartial")
    @await Component.InvokeAsync("_FactComponentPartial")
    @await Component.InvokeAsync("_ServiceComponentPartial")
    @await Component.InvokeAsync("_FeatureComponentPartial")
    @await Component.InvokeAsync("_ContactComponentPartial")
    @await Component.InvokeAsync("_TeamComponentPartial")
    @await Component.InvokeAsync("_TestimonialComponentPartial")
    @await Component.InvokeAsync("_FooterComponentPartial")
    @await Component.InvokeAsync("_ScriptComponentPartial")
 
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>

</body>

</html>
